* {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    background-image: url(P1160084.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    background-color: darkslategrey;
    padding: 30px;
    border-bottom: 5px white solid;
}

header nav {
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    list-style-type: none;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    height: 450px;
    width: 100%;
    background-image: url(P1160002.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px white solid;
}

.hero h2 {
    text-decoration-line: underline;
}

.hero p {
    text-align: center;
    margin-top: 10px;
}

.nani {
    margin-left: -50px;
    height: 400px;
    width: 300px;
}

.intro {
    margin: 0 -115px 100px 0;
    display: flex;
    justify-content: end;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

main {
    font-size: 24px;
    display: inline-block;
}

main div {
    margin: 25px 0 50px 50px;
    background-color: darkslategrey;
    width: 200px;
    padding: 10% 0;
    border-top: 5px white solid;
    border-right: 5px white solid;
    clear: both;
    height: 250px;
    text-align: center;
}

aside {
    width: 50%;
    clear: both;
    float: right;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
}

aside section {
    margin: 25px 50px 50px 0;
    height: 250px;
    padding: 25px;
    background-color: darkslategray;
    border-top: 5px white solid;
    border-left: 5px white solid;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
}

aside h2 {
    text-decoration-line: underline;
    font-size: 28px;
    margin-top: -25px;
}

aside p {
    font-size: 20px;
}

aside div p {
    font-size: 14px;
}

.gridf {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 220px;
}

.grid {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.work {
    border: 3px black solid;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
}

.prework {
    background-image: url(prework-image.png);
    grid-column: 1/3;
    grid-row: span 2;
}

.hori {
    background-image: url(P1110033.jpg);
}

.pl1 {
    background-image: url(P1080309.jpg);
}

.pl2 {
    background-image: url(P1150295.jpg);
}

.pl3 {
    background-image: url(P1160905-Edit.jpg);
}

.label {
    padding: 5px;
    background-color: cadetblue;
    width: 150px;
    font-size: 12px;
}

li span {
    float: right;
}

.contacts {
    font-size: 24px;
}

.contact-info {
    margin-top: 50px;
}

footer {
    background-color: darkslategrey;
    height: 75px;
    border-top: 5px white solid;
    text-align: center;
    color: white;
    margin-top: 25px;
}

footer h3 {
    margin-top: 20px;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    header {
        padding: 20px;
    }

    .hero h2 {
        font-size: 16px;
        margin-right: 100px;
    }

    .hero p {
        font-size: 12px;
        margin-right: 100px;
    }

    header nav {
        font-size: 18px;
    }

    aside p {
        font-size: 14px;
    }

    .label {
        width: 100px;
        font-size: 10px;
    }

    aside div p {
        font-size: 8px;
    }

    .contacts {
        font-size: 20px;
    }
}

@media screen and (max-width: 576px) {
    
    aside p{
        font-size: 12px;
        line-height: 1.4;
    }

    .label {
        font-size: 8px;
        width: 75px;
    }
    aside div p {
        font-size: 6px; 
    }

    .contacts {
        font-size: 18px;
    }

    .nani {
        height: 300px;
        width: 200px;
    }
}